// 15-022022
// by DEI a.k.a ANDI
*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: brand;
    src: url(/font/FrutigerBQ-Black.otf);
}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
img {
    width: 100%;
}
html{
    scroll-behavior: smooth;
}
body{
    scroll-behavior: smooth;
    .nav{
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 100%;
        height: 40px;
        background-color: #fff;
        box-shadow: #a6a6a6 1px 1px 5px;

        .brand{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.3em;
            .brand-text{
                display: inline-block;
                font-family: brand,sans-serif;
                span{
                    color: #e35f0f;
                }
            }
        }
    }
    .hero{
        font-family: lato, sans-serif;
        background-color:#004ba8;
        color: #fff;
        // height: 200px;
        height: 300px;
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: -23;
        .welcome-hero{
            font-weight: 700;
            text-transform: uppercase;
            width: 300px;
            text-align: center;
            align-items: center;
            display: flex;
            flex-direction: column;
            img{
                width: 150px;
            }
        }
        .btn{
            margin-top: 2em;
            font-weight: 900;
            background-color: #fff;
            color: #004ba8;
            border-radius: 5px;
            padding: 5px 6px;
            font-size: 10px;
            a{
                text-decoration: none;
                color: unset;
            }
        }
    }
    .produc{
        font-family: lato, sans-serif;
        .p-card{
            text-align: center;
            margin-top: 2em;
            .l-card{
                ul{
                    margin-top: 2em;
                    display: flex;
                    justify-content: space-evenly;
                    li{
                        list-style: none;
                        background-color: #fff;
                        box-shadow: #a6a6a6 1px 1px 4px;
                        height: 80px;
                        width: 80px;
                        border-radius: 7px;
                        display: flex;
                        flex-direction: column;
                        line-height: 2em;
                        justify-content: center;
                        align-items: center;
                    }
                    li:hover{
                        background-color: #004ba8;
                        color: #fff;
                    }
                }
            }
        }
        .p-card-grid{
            margin-top: 2em;
            .g-card{
                display: flex;
                justify-content: center;
                ul{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    li{
                        margin: 1em;
                        list-style: none;
                        list-style: none;
                        background-color: #fff;
                        box-shadow: #a6a6a6 1px 1px 4px;
                        height: 80px;
                        width: 80px;
                        border-radius: 7px;
                        display: flex;
                        flex-direction: column;
                        line-height: 2em;
                        justify-content: center;
                        align-items: center;

                    }
                    li:hover{
                        background-color: #004ba8;
                        color: #fff;
                    }
                }
            }
        }
    }
    .contact{
        background-color: #004ba8;
        margin-top: -1em;
        color: #fff;
        text-align: center;
        ul{
            li{
                a{
                    text-decoration: none;
                    color: unset;
                }
            }
        }
        iframe{
            margin-top: 2em;
            width: 90%;
            height: 400px;
        }
    }
    .fotter{
        background-color: #004ba8;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 10px;
    }
}