// 15-022022
// by DEI a.k.a ANDI
* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans';
}

.h-title {
    padding-left: 1em;
}

.h-f {
    background-color: #4d4d4d;
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
    color: #fff;
    border-top-right-radius: 10px;
}

.ph-w {
    text-align: right;
    background-color: #4d4d4d;

    .h-w {
        text-align: right;
        background-color: #fff;
        display: inline-flex;
        padding-right: 1em;
        padding-left: 1em;
        border-start-start-radius: 10px;
    }
}

.red {
    color: #ff4a4a;
}

@font-face {
    font-family: brand;
    src: url(../font/FrutigerBQ-Black.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

img {
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    scroll-behavior: smooth;
    .toggle-menu-list{
        height: 100vh;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.646);
        backdrop-filter: blur(8px);
        position: fixed;
        transition-duration: 1.5s;
        z-index: 100;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        .toggle-close{
            font-size: 40px;
            cursor: pointer;
        }
        .menu-toggle{
            font-size: 20px;
            font-weight: 900;
            ul{
                li{
                    list-style: none;
                }
            }
        }
    }
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        width: 100%;
        height: 40px;
        background-color: #fff;
        box-shadow: #a6a6a6 1px 1px 5px;

        .brand {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.3em;

            .brand-text {
                display: inline-block;
                font-family: brand, sans-serif;
                color: #1b5e9a;
                font-weight: 900;

                span {
                    color: #e35f0f;
                    font-weight: bolder;
                }
            }
        }
        .tog-menu{
            .toogle{
                cursor: pointer;
            }
        }
    }

    .hero {
        height: 50vh;
        background: url(../img/agency-banking.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        text-shadow: #2d2d2d 1px 1px 4px;

        .text1 {
            .head-title {
                color: #fff;
                font-size: 12px;
                line-height: 2px;
            }

            .hero-title {
                text-transform: uppercase;
                font-weight: 800;

                span {
                    color: #e35f0f;
                }
            }
        }
    }

    .main-home {
        font-family: 'Open Sans';
        font-weight: 600;

        padding: 2em 1em;

        .main-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 2em;

            img {
                width: 100px;
            }

            p {
                margin-top: 1em;

                span {
                    color: #e35f0f;
                }
            }
        }

    }

    .features {
        background-color: #4d4d4d;
        color: #ffffff;

        ul {
            text-transform: uppercase;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1em;

            li {
                list-style: none;
                margin-bottom: 2em;
                // height: 50px;
                // width: 100%;
                display: flex;
                flex-direction: column;
                // flex-direction: row;
                align-items: center;
                // background-color: #fff;
                // box-shadow: #2d2d2d 1px 1px 3px;
                border-radius: 6px;
                transition-duration: 0.5s;

                .fa {
                    font-size: 67px;
                }
            }

            li:hover {
                color: #143b5c;
            }
        }
    }

    .kontak {
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 500px;
        span {
            padding-top: 1em;
            padding-bottom: 1em;
            font-size: 13px;
            text-align: center;
            color: #4d4d4d;
        }
        ul{
            li{
                list-style: none;
                font-size: 13px;
                color: #4d4d4d;
            }
        }
    }
    .footer{
        margin-top: -1em;
        height: 300px;
        background-color: #1b5e9a;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        img{
            width: 200px;
        }
        .copy{
            text-align: center;
            color: #fff;
            text-transform: uppercase;
            font-size: 10px;
        }
    }
}

@media only screen and (max-width: 299px) {
    body{
        .kontak{
            iframe{
                display: none;
            }
           
        }
    }   
}